Plug and play performant Angular page transition that is optimized with will-change.

<br>

Page-transition effeckt is Responsive/Adaptive to different devices.<br>

Easy install, easy to tweak.<br>

Still work in progress. :)

<br>
When finished, there's will be an turial about how to isntall and tweak the animation.


<hr>
<h3>
	Class add to effeckt-ng-container div, responsible for different effeckt
</h3>
<h5>
	For effeckts that needs offnav menu.
</h5>

<hr>

3D Page Effeckts during:
<br>how is the page transfromed from 2d to 3d
<br>and
new page in and old page out when 3d menu is opened

<ul>
	<li ng-repeat="eng3dPage in sel.ng3dPage">{{eng3dPage}}</li>
</ul>

<hr>

2D Page Effeckts during iOS7/Maverics Swipe/Browser Back Button:
<ul>
	<li ng-repeat="each2d in sel.ng2dPage">{{each2d}}</li>
</ul>


<hr>
<h3>
	Class add to effeckt-ng-container div, responsible for different effeckt
</h3>
<h5>
	For effeckts does not need offnav menu.
</h5>
